polaris-server
polaris-server-release*
polaris-server-release.tar.gz

log/
/statis/
/discover-statis/
/discover-event/

.idea
.DS_Store
coverage.txt

*.swp
*.code-workspace

.vscode
*.bolt
*.bolt.lock
/vendor
.codecc
*.log
